@inherits LayoutComponentBase

<PageTitle>BookStore</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <a href="/users/login">Login</a>
                </NotAuthorized>
                <Authorized>
                    <a href="/users/logout">Logout</a>
                </Authorized>
            </AuthorizeView>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

